$black: #080808;
$black_op02: rgba(8, 8, 8, .2);
$black_op09: rgba(8, 8, 8, .9);
$grey: #303032;
$grey_op06: rgba(48, 48, 50, .6);
$grey_op0: rgba(48, 48, 50, 0);
$light_grey: #dcdbe1;
$light_grey_06: rgba(220, 219, 225, .6);
$light_violent: #e3e8ff;
$light_violent_op06: rgba(227, 232, 255, .6);

