@import '../../../colors.scss';

.Header{
    display: flex;
    width: 100%;
    align-items: center;
    transition: .4s ease-out;
    justify-content: space-around;


        & img{
            max-width: 100%;
            min-width: 490px;
        }



    .MainWords{
        color: $black;
        text-align: left;
        margin: 0 auto;
        font-size: 3rem;
        font-weight: bold;
        padding: 2em 6em;
    
        .MainWord{
            font-size: 4rem;
        }
    
        .HeaderButtons{
            font-size: 2rem;
        }
    }
}


@media screen and (max-width:1390px){


    .Header img{
        display: none;   
    }
    .MainWords{
        padding: 2em 3.5em 0 2.5em !important;
        margin: 0 ;
    }
}



@media screen and (max-width:767px){


    .MainWords{
        font-size: 1.7rem !important;
        margin: 8.3rem 0 0 0 !important;
        padding: 0 0 0 1em !important;
        text-align: center;

        .MainWord{
            font-size: 3rem !important;
            padding: 0 0 0 0;
        }
    
        .HeaderButtons{
            padding: 0 0 0 0;
            font-size: 2rem !important;
        }
    }
}